<form action="/work/add" method="post">
    <input type="text" name="name" value="">
    <input type="text" name="artist" value="">
    <input type="text" name="url" value="">
    <button type="submit">submit</button>
</form>